/* Общие Стили */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Стили для Ёлки */
#tree-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}

/* Стили для Уровней */
.tree-row {
  white-space: pre;
}

/* Стили для Стволов */
.trunk {
  color: rgb(0, 0, 0);
}

/* Стили для Полей */
.build-tree-buttons {
  margin-top: 20px;
}

/* Стили для Кнопки-Создания */
#tree-button {
  margin-top: 30px;
}
